.BodyContent{
  background-color: #605f5f;
  max-width: 100%;
  padding: 0.5rem;
  .AddPost{
    padding-bottom: 0.5rem;
  }
  .box{
    .media{
      .media-content{
        .content{
          .field{
            .control{
              .textarea{
                height: auto;
              }
            }
          }
        }
        .button{
          width: 100%;
        }
      }
    }
  }
  .PostContent{
    padding-top: 1rem;
    .card{
      margin-bottom: 0.5rem;
    }
  }
  .card{
    .card-content{
      padding: 0.5rem;
      .content{
      text-align: start;
      }
    }
  }
}
