.Header{
  .hFirst{
    background-color: #00d1b2;
    .nav-center{
      .nav-item{
        font-weight: bold;
        font-size: xx-large;
        color: #FFFFFF;
      }
      .button{
        margin: auto;
      }
    }
  }
  .hSecond{
    background-color: #605f5f;
    height: 2.25rem;
    .nav-item{
      color: #FFFFFF;

    }
  }

  .register-modal{
    .modal-card-foot{
        text-align: right;
      .footButton{
        width: 100%;
      }
    }
  }
  .login-modal{
    .modal-card-foot{
        text-align: right;
      .footButton{
        width: 100%;
      }
    }
  }
}
